<div class="user-list-container">
  <div class="header-actions">
    <h2>Usuarios del Sistema</h2>
    <a routerLink="/users/new" class="btn-create">Nuevo Usuario</a>
  </div>

  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  
  @if (errorMessage) {
    <app-error-message [message]="errorMessage" (retry)="loadUsers()"></app-error-message>
  }

  @if (!isLoading && !errorMessage) {
    <app-data-table 
      [columns]="['userId', 'name', 'email', 'createdAt', 'acciones']" 
      [headers]="['ID', 'Nombre', 'Correo Electrónico', 'Fecha de Registro', 'Acciones']" 
      [data]="users" 
      title="Lista General de Usuarios"
      (click)="$any($event.target).getAttribute('data-action') === 'delete' && deleteUser(+$any($event.target).getAttribute('data-id'))"
    ></app-data-table>
  }
</div>
